html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-navbar {
    background-color: #0e616e;
    background: linear-gradient(180deg, rgba(14,97,110,1) 75%, rgba(14,97,110,0.38063147622330185) 100%);
}

.victuz-creme {
    background-color: #D4B07E;
}

.victuz-blue {
    background-color: #004E5C; 
}

.subbody-bg {
    background-color: #f2f2f2;
}
.font {
    font-family: serif;
}