html {
  font-family: serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem ;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: serif;
}

.bg-navbar {
    background-color: #0e616e;
    background: linear-gradient(180deg, rgba(14,97,110,1) 75%, rgba(14,97,110,0.38063147622330185) 100%);
}

.font {
    font-family: serif;
}

.activities {
    width: 80%;
    margin-top: 20px;
}

.activities-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    background-color: #004E5C;
    border-radius: 8px;
}

.activity {
    flex: 0 0 25%;
    scroll-snap-align: start;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling voor Forum */
.forum {
    width: 80%;
    margin-top: 30px;
}

.forum-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    background-color: #D4B07E;
    border-radius: 8px;
}

.forum-post {
    flex: 0 0 25%;
    scroll-snap-align: start;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Scrollbar Styling */
.activities-container::-webkit-scrollbar,
.forum-container::-webkit-scrollbar {
    height: 8px;
}

.activities-container::-webkit-scrollbar-thumb,
.forum-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.gatheringdetails {
    flex: 0 0 25%;
    scroll-snap-align: start;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #0e616e;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}