@{
    ViewData["Title"] = "Forum Page";
}
@model List<Victuz.Models.Businesslayer.Forum>;

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="forum-header-container">
        <h2>Forum</h2>
        <form asp-action="Create" method="get">
            <button class="custom-btn button-creme">
                Nieuwe discussie
            </button>
        </form>
    </header>

    <hr />
    <main class="forum-list">
        @foreach (var forum in Model)
        {
            <a asp-action="Details" asp-route-id="@forum.ForumId" class="no-underline">
                <div class="forum-item">
                    <h3 class="forum-title">@forum.Title</h3>
                    <p class="forum-desc">@forum.Description</p>
                </div>
            </a>
        }
    </main>
</body>