@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="login-body">
        <div class="login-container">
            <h1>Aanmelden</h1>
            <form class="login-form">
                <div class="login-form-group">
                    <label for="Username">Naam</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="login-form-group">
                    <label for="Password">Wachtwoord</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="login-form-group">
                    <label for="Password">Bevestig wachtwoord</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="login-form-group">
                    <label for="Role">Rol</label>
                    <select id="role" name="role" required>
                        <option value="" disabled selected>Kies een rol</option> <!-- Placeholder -->
                        <option value="user">User</option>
                    </select>
                </div>
                <button type="submit" class="custom-btn">Aanmelden</button>
            </form>
        </div>
    </div>
</body>