
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Admin Dashboard</h1>
<br />
<div class="col-md-4 form-act">
    <h3>Hallo Admin,</h3>
    <p>Wat wilt u beheren.</p>
    <ul>
        <li><a asp-controller="Roles" asp-action="Index">Rollen</a></li>
        <li><a asp-controller="Gatherings" asp-action="Index">Activiteiten</a></li>
        <li><a asp-controller="Locations" asp-action="Index">Locatie</a></li>
        <li><a asp-controller="Categories" asp-action="Index">Categorieën</a></li>
    </ul>
</div>

