@{
    ViewData["Title"] = "Forum Page";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <button class="new-discussion-button">Nieuwe discussie</button>
    </header>

    <main class="forum-list">
        <div class="forum-item">Forum 1: Onderwerp en beschrijving van het forum</div>
        <div class="forum-item">Forum 2: Onderwerp en beschrijving van het forum</div>
        <div class="forum-item">Forum 3: Onderwerp en beschrijving van het forum </div>
        <div class="forum-item">Forum 4: Onderwerp en beschrijving van het forum</div>
        <div class="forum-item">Forum 5: Onderwerp en beschrijving van het forum</div>
        <div class="forum-item">Forum 6: Onderwerp en beschrijving van het forum</div>
    </main>
</body>