@model IEnumerable<Victuz.Models.Businesslayer.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="custom-btn button-creme">
        <a class="no-underline text-black fw-bold" asp-controller="Roles" asp-action="Create">Aanmaken</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Rol naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
<a href="/Home/Dashboard">Terug naar dashboard</a>