@model Victuz.Models.Viewmodels.LoginVM

@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="login-body">
        <div class="login-container">
            <h1>Log in</h1>
            <form asp-action="Login" method="post" class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="login-form-group">
                    <label asp-for="UserName">Gebruikersnaam</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="login-form-group">
                    <label asp-for="Password">Wachtwoord</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <a href="/Home/AccountReg" class="signup-link">Nog geen account? Meld je hier aan!</a>
                <button type="submit" class="custom-btn">Inloggen</button>
            </form>
        </div>
    </div>

    <!-- Include the following script for client-side validation -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>