@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row center-container-act">
    <div class="col-md-4 form-act">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h1>404</h1>
            </div>
            <div>
                <h4>Oops..Page not found!</h4>
            </div>
            <div class="form-group">
                 <a href="/Home/Index">Back to home</a>
            </div>
    </div>
</div>

