@model Victuz.Models.Businesslayer.GatheringRegistration

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row center-container-act">
    <div class="col-md-4 form-act">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <span class="title-act">Aanmelden voor activiteit</span>
                <br />
                <label for="UserId" class="label-act">Naam</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label for="GatheringId" class="label-act">Activiteit</label>
                <select asp-for="GatheringId" class ="form-control" asp-items="ViewBag.GatheringId"></select>
            </div>
            <div class="form-group">
                <label for="RegistrationDate" class="label-act">Geboortedatum</label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Aanmelden" class="submit-act" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
