@model Victuz.Models.Businesslayer.GatheringRegistration

@{
    ViewData["Title"] = "Create";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}


<hr />
<div class="row center-container-act">
    <div class="col-md-4 form-act">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <span class="title-act">Aanmelden voor activiteit</span>
                <br />
                <input asp-for="UserId" type="hidden" value="@ViewData["UserID"]" />
            </div>
            <div class="form-group">
                <label for="GatheringId" class="label-act">Activiteit</label>
                <select asp-for="GatheringId" class="form-control" asp-items="ViewBag.GatheringId" disabled="disabled"></select>
            </div>
            <div class="form-group">
                <label for="RegistrationDate" class="label-act">Geboortedatum</label>
                <input asp-for="RegistrationDate" class="form-control" type="date" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <br />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <script type="text/javascript">
                    alert('@errorMessage');
                </script>
            }
            <div class="form-group">
                <input type="submit" value="Aanmelden" class="submit-act" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
