@model Victuz.Models.Businesslayer.GatheringRegistration

@{
    ViewData["Title"] = "Delete";
}

<h1>Afmelden voor activiteit?</h1>

<h4>Weet je zeker dat je wil afmelden?</h4>
<div>
    <hr />
    <dl class="row">
        <p>Activiteit</p>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gathering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gathering.GatheringTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        
    </dl>

   
    
    <form asp-action="Delete">
      
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="GatheringId" />
      
        <input type="submit" class="no-underline text-black fw-bold custom-btn button-creme" value="Afmelden" style="right: 87%;" />
        <a class="no-underline text-black fw-bold custom-btn button-creme" style="right: 58%;" asp-action="Home">Terug naar home</a>
        
        
    </form>
</div>
