@model IEnumerable<Victuz.Models.Viewmodels.GatheringRegistrationVM>

@{
    ViewData["Title"] = "Registrations";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deelnemers</title>
</head>
<body>
    <p>
        <a class="custom-btn button-creme no-underline text-black fw-bold" asp-controller="Gatherings" asp-action="Index">Terug</a>
    </p>
    <h1>@ViewData["GatheringTitle"]</h1>
    @if(Model == null || !Model.Any())
    {
        <h5>aantal deelnemers: 0</h5>
    }
    else
    {
        <h5>aantal deelnemers: @Model.Count()</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id deelnemer
                    </th>
                    <th>
                        Gebruikersnaam
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserId)
                        </td>
                        <th>
                            @Html.DisplayFor(Model => item.User.UserName)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
